body {
  background: black;
  font-family: 'Alatsi', sans-serif;
  margin: 0;
  overflow: hidden;
}

canvas {
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.paragraph {
  float: left;
  margin-left: 10vw;
  margin-top: 10vh;
}

.title {
  color: #e5eaf5;
  font-size: 10vw;
  position: absolute;
}

.content {
  color: #e5eaf5;
  font-size: 18px;
  margin-top: 25vh;
  position: relative;
}

.input-position {
  color: #e5eaf5;
  margin-top: 5vh;
  position: relative;
}

.sortedContent {
  border-radius: 8px;
  border: gray solid 2px;
  float: right;
  height: 95%;
  margin: 2vh 8vw 2vh 25vw;
  opacity: 0.9;
  width: 600px;
}
